<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width" />

  <title>{{ page.title | Gaslight }}</title>

  <!-- Included CSS Files (Compressed) -->
  <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/foundation.min.css">
  <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/app.css">
  <link href="{{site.baseurl}}/stylesheets/themes/blackboard.css" rel="stylesheet" type="text/css">
  <script src="{{site.baseurl}}/javascripts/modernizr.foundation.js"></script>
</head>
<body>
  <div class="row">
    <div class="twelve columns">
      <h2>Gaslight</h2>
      <hr />
    </div>
  </div>

  <div class="row">
    <div class="nine columns">
      {{ content }}
    </div>
    <div class="three columns">
      <h3>Sidebar</h3>
      <h4>Meta</h4>
      <ul>
        <li>Author: {{ page.author }}</li>
        <li>Posted On: {{ page.date || date_to_string }}</li>
        <li>Tags: 
          <ul>
            {% for tag in page.tags %}
              <li><a href="#">{{ tag }}</a></li>
            {% endfor %}
          </ul>
        </li>
      </ul>
      <h4>Stuff</h4>
      <p>Search and all that jazz.</p>
    </div>
  </div>

  <!-- Included JS Files (Compressed) -->
  <script src="{{site.baseurl}}/javascripts/jquery.js"></script>
  <script src="{{site.baseurl}}/javascripts/foundation.min.js"></script>
  <script src="{{site.baseurl}}/javascripts/rainbow.min.js"></script>
  <script src="{{site.baseurl}}/javascripts/language/generic.js"></script>
  <script src="{{site.baseurl}}/javascripts/language/python.js"></script>
  <script src="{{site.baseurl}}/javascripts/language/ruby.js"></script>
  <script src="{{site.baseurl}}/javascripts/language/shell.js"></script>
  <script>
    $(window).load(function(){
      $("#featured").orbit();
    });
  </script>
</body>
</html>

